<!DOCTYPE html>

<html>
<head>
  
    <title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script type="text/javascript" src="~/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"> </script>
    <script type="text/javascript" src="~/js/programm.js"></script>
	
	
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/css/bootstrap.min.css")'>
	<link rel="stylesheet" type="text/css" href='@Url.Content("~/css/main.css")'>
	
    @RenderSection("Css",false)
	
	

	<!--[if lt IE 9]>
	  <script src='@Url.Content("~/js/html5shiv.js")'></script>
	  <script src='@Url.Content("~/js/respond.js")'></script>
	<![endif]--> 
    <!--[if IE 8]>
        <script type="text/javascript">
            window.location.href = '@Url.Content("~/ie8page.html")';
        </script>
    <![endif]-->
</head>
<body>
    
        @RenderBody()
    
    @RenderSection("Scripts", false)
    
    <div id="backgrounding"></div>
</body>
</html>
